*.class
*.log
# common build specific
project.properties
build.xml
ivy.xml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/*

# Scala-IDE specific
.scala_dependencies
